<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\IndexDataAnalysisAutomation\venv\Scripts\python.exe|D:\IndexDataAnalysisAutomation\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <fastCgi>
      <application fullPath="D:\IndexDataAnalysisAutomation\venv\Scripts\python.exe" arguments="D:\IndexDataAnalysisAutomation\venv\Lib\site-packages\wfastcgi.py" />
    </fastCgi>
    <httpErrors existingResponse="PassThrough" />
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".py" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <defaultDocument>
            <files>
                <remove value="Default.asp" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="AnalysisAPIEndpoint.app" />
    <add key="PYTHONPATH" value="D:\IndexDataAnalysisAutomation\AnalyserApp" />
    <add key="WSGI_LOG" value="D:\IndexDataAnalysisAutomation\application.log" />
  </appSettings>
</configuration>
